
.header-logo{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: "Monoton", sans-serif;
    font-weight: lighter;

 

}

.header-logo span {
    color: rgb(161, 72, 244);
    font-family: "Monoton", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;

}