
.event-card {
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:#222222;
    cursor: pointer;
}

.event-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem
}
.event-content div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.event-content p{
  color: white;
  font-weight: lighter;
  font-size: 0.9rem;
}


.event-img {
    width: 100%;
    height: 10rem;

}

.event-card img {
    width: 100%;
    height: 100%;

}

.event-card h3 {
    font-size: 1.2rem;
    font-weight: bolder;
    color:rgba(255, 255, 255, 0.915);

}
.event-card button {
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    border-radius: 2rem;
    background-color:rgba(227, 0, 83, 0.915);

}

@media only screen and (max-width: 400px) {

    .event-card {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: rgba(19, 18, 18, 0.979);
        cursor: pointer;
    }
    .event-img {
        width: 100%;
        height: 10rem;
    
    }
    

}
@media (min-width: 401px) and (max-width: 1000px) {

    .event-card {
        width: 20rem;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: rgba(19, 18, 18, 0.979);
        cursor: pointer;
    }
    .event-img {
        width:20rem;
        height: 10rem;
    
    }
    

}